<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.makan.blue">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:icon="@drawable/ic_launcher"

        android:theme="@style/AppTheme">



        <activity

            android:name="com.example.makan.blue.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTop"

           >


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>



            </activity>

        <activity
        android:name="com.example.makan.blue.ChartActivity"
        android:windowSoftInputMode="adjustPan"
        android:parentActivityName="com.example.makan.blue.MainActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".ChartActivity" />
        </activity>
        <activity
            android:name="com.example.makan.blue.ImageActivity"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="com.example.makan.blue.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ImageActivity" />
            </activity>
        <activity
            android:name="com.example.makan.blue.NirSpecs"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="com.example.makan.blue.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NirSpecs" />
            </activity>

        <service android:name=".BleConnectionService" />
    </application>



</manifest>
